* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
h1 {
  color: rgb(0, 0, 0);
}

h2 {
  color: #444;
}
h3 {
  color: #999;
}
.btn {
  background: #4353e9;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
}
.btn2 {
  background: #0d941f;
  color: white;
  padding: 5px 10px;
  text-align: center;
  border-radius: 5px;
}
.btn:hover {
  color: #4353e9;
  background: white;
  padding: 3px 8px;
  border: 2px solid #4353e9;
}
.btn2:hover {
  color: #0d941f;
  background: white;
  padding: 3px 8px;
  border: 2px solid #0d941f;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px 10px;
  border-bottom: 2px solid #999;
}
table {
  padding: 10px;
}
th,
td {
  text-align: left;
  padding: 8px;
}
.side-menu {
  position: fixed;
  background: #4353e9;
  width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.side-menu2 {
  position: fixed;
  background: #0d941f;
  width: 20vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.school-name {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.school-logo img {
  width: 100px;
  height: 90px;
}
.school-title {
  color: white;
}
.side-menu li {
  font-size: 24px;
  padding: 10px 40px;
  color: white;
  display: flex;
  align-items: center;
}
.side-menu2 li {
  font-size: 24px;
  padding: 10px 40px;
  color: white;
  display: flex;
  align-items: center;
}
.side-menu li img {
  width: 40px;
  height: 40px;
}
.side-menu2 li img {
  width: 40px;
  height: 40px;
}
.side-menu li:hover {
  background: white;
  color: #4353e9;
}
.side-menu2 li:hover {
  background: white;
  color: #0d941f;
}
.container {
  grid-area: menu;
  position: absolute;
  right: 0;
  width: 80vw;
  height: 100vh;
  background: #f1f1f1;
}
.header {
  position: fixed;
  top: 0;
  right: 0;
  width: 80vw;
  height: 10vh;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.nav {
  width: 90%;
  display: flex;
  align-items: center;
}
.search {
  flex: 3;
  display: flex;
  justify-content: center;
}
.search input[type="text"] {
  border: none;
  background: #f1f1f1;
  padding: 10px;
  width: 50%;
}
.search button {
  width: 40px;
  height: 40px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.search button img {
  width: 30px;
  height: 30px;
}
.user {
  flex: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.user img {
  width: 40px;
  height: 40px;
}
.user-container {
  position: relative;
  width: 50px;
  height: 50px;
}
.user-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.container .content {
  position: relative;
  margin-top: 10vh;
  min-height: 90vh;
}

.cards {
  padding: 20px 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.card {
  width: 250px;
  height: 150px;
  border-radius: 10px;
  background: white;
  margin: 20px 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.content-2 {
  min-height: 60vh;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.recent-payments {
  border-radius: 10px;
  min-height: 50vh;
  width: 600px;
  flex: 5;
  background: white;
  margin: 0 25px 25px 25px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}
.new-students {
  border-radius: 10px;
  flex: 2;
  width: 500px;
  background: white;
  min-height: 50vh;
  margin: 0 25px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  flex-direction: column;
}
.new-students table td:nth-child(1) img {
  width: 40px;
  height: 40px;
}
.icon-case img {
  width: 50px;
  height: 50px;
}
input {
  border-radius: 5px;
  height: 20px;
}
.form {
  display: flex;
  font-size: large;
}
